{% extends 'users.html' %}

{% block content %}
<div class="form-reset-complete">
<h1>Восстановление пароля</h1>

<form method="post">
    {% csrf_token %}
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <p><button type="submit">Сбросить по E-mail</button></p>

<!--    <p><input class='submit-reset' type="submit" value="Сбросить по E-mail"></p>-->
</form>
</div>
{% endblock %}
