{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="adaptive">
    <main>
        <link rel="stylesheet" href="{% static '/CSS/user_profile.css' %}">
<!--        Боковое меню-->
        <aside>
            <p><a href="{% url 'delivery' %}">Ваши заказы </a></p>
            <p><a href="{% url 'page_order' %}">Ожидают оплаты</a></p>
        </aside>
        <div class="content">
            <h1 class="title"> Ваш профиль</h1>
            <div class="content-text">
                <p>Никнейм: {{user.username}} </p>
                <p>Имя: {{user.first_name}}</p>
                <p>Фамилия: {{user.last_name}}</p>
                <p>Телефон: {{user.profile.telephone}}</p>
                <p>Email: {{user.email}}</p>
                <p>Любимая цитата: {{user.profile.quote}}</p>
                <form method="GET" action="{% url 'users:update_profile' %}">
                    <button class="button" type="submit">Изменить профиль</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}