<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/base.css'%}">
<!--    <link rel="slylesheet" href="{% static 'CSS/documentationmain.css' %}">-->
    <title>Title</title>
</head>
<body>
<div>
    <header>
        <nav class="one">

            <ul>
                <li><a href="http://127.0.0.1:8000/"><i class="fa fa-home fa-fw"></i>TexnoShop</a></li>
                <li><a href="#"><strong>Categories</strong></a></li>
                <li>
                    <a href="http://127.0.0.1:8000/document/"><strong>Documentation</strong></a>
                </li>
                <li><a href="#">About us</a></li>
                <li>
      <span class="d7">
        <form>
          {% csrf_token %}
          <input type="text" name="search_field" placeholder="Search">

          <button type="submit"></button>
        </form>
      </span>

                </li>
                <span class="account">
            <li><a href="#">Sing up</a></li>
            <li><a href="#">Sing in</a></li>
      </span>

            </ul>
        </nav>
    </header>
</div>
{% block content %} {% endblock %}
<footer>
<p>FOOOTER</p>
</footer>
</body>
</html>