<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'CSS/menu.css'%}">
    <title>Title</title>
</head>
<body>
<header>
    <a href="http://127.0.0.1:8000/"><img class="logo" src="{% static 'img/LOGO2.png' alt='LOGO' %}"></a>
        <nav>
            <ul>
                <li><a href="#">Категории &bigtriangledown;</a>
                    <ul>
                        <li><a href="../products/pc">ПК</a></li>
                        <li><a href="../products/Laptop">Ноутбуки</a></li>
                        <li><a href="../products/components">Компьютерные компоненты &bigtriangledown;</a>
                            <ul>
                                 <li><a href="../products/videocard">Видеокарта</a></li>
                                 <li><a href="../products/ram">Оперативная память</a></li>
                                 <li><a href="../products/cpu">ЦП</a></li>
                                 <li><a href="../products/motherboard">Материнская плата</a></li>
                                 <li><a href="../products/hdd">HHD</a></li>
                                 <li><a href="../products/ssd">SSD</a></li>
                                 <li><a href="../products/computerpoversuply">Блок питания</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="http://127.0.0.1:8000/document/">Документация</a></li>
                <li><a href="http://127.0.0.1:8000/document/{{name}} name='CAT'">О нас</a></li>
                    <li><form class="d7">
                      {% csrf_token %}
                      <input type="text" name="search_field" placeholder="Search">
                      <button type="submit"></button>
                    </form></li>
                <li><a href="#"><img src="{% static '' %}"></a></li>
                <li><a href="#">Зарегистрироваться</a></li>
                <li><a href="#">Войти</a></li>
            </ul>
        </nav>
</header>

{% block content %} {% endblock %}
<footer>
<p>FOOOTER</p>
</footer>
</body>
</html>