*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Inter;
list-style: none;
text-decoration: none;
}
body {
height: 100%;
background-size: cover;
background-position: center center;
}
header{
background-color: #6DBFCB;
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 8%;
box-shadow: 0 5px 10px white;
}
header .logo{
    width: 60%;
}
header nav ul li{
position: relative;
float: left;
}
header nav ul li a{
padding: 15px;
color: black;
font-size: large;
display: block;
}
header nav ul li a:hover{
background: black;
color: white;
}
nav ul li ul {
position: absolute;
left: 0;
width: 180px;
background: white;
display: none;
}
nav ul li ul li{
width: 100%;
border: 1px solid rgba(0,0,0,.1);

}
nav ul li ul li ul {
left: 180px;
top: 0;
}
nav ul li:hover >ul {
display: initial;
}
main{
margin-top: 15%;
}


/*.body{
margin: 0;
padding: 0;
}
footer{
margin-top: 5%;
}
nav {
  display: block;
  margin-left: 50px;
}
.one ul {
  padding: 1em 0;
}
.one a {
  padding: 1em;

  color: #000;
}
.one a:hover {background: #330031; color: #fff}
.one li {
  display: inline;
}
.account {
margin-right: 50px;
margin-top: 15px;
float:right;
}*/


/*field search*/

/*form {
  position: relative;

  margin: 0 auto;
  display: inline;
}
.d7 ::placeholder{
  color:#fff;
}

.d7 form {
  width: auto;
  margin-right: 30px;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #fff;
  background: #CCCEFF;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}

.d7 button:before{
  content: "\🔍︎";
  font-family: FontAwesome;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 2em;
  color: #fff;
}
*/
