.Image{
height: 400px;
width: 400px;
}
.documentationmain-image{
display: inline-block;
margin-top: 5%;
}
.documentationmain-image-center{
display: block;
text-align: center;
}
.title{
font-size: xx-large;
text-align: center;
}
.button{
font-size: x-large;
}