main{
background-color: blue;
}
.red{
color: red
}

.Image{
height: 400px;
width: 400px;
}
.documentationmain-image{
display: inline-block;
}
.documentationmain-image-center{
display: block;
margin-left: 5%;
margin-right: 5%;
margin-top: 5%;
}