*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Inter;
list-style: none;
text-decoration: none;
}
main{
margin-bottom: 5%;
}
body {
height: 100%;
background-size: cover;
background-position: center;
position: relative;
}
header{
background-color: #6DBFCB;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 5px 10px white;
}
 header a .logo{
  width: 200px;
  height: 200px;
  padding-right: 10%;
  }
header nav ul li{
position: relative;
float: left;
margin: 0%;
}
header nav ul li a{
margin-left: 0%;
margin-right: 0%;
padding: 5px;
color: black;
font-size: x-large;
font-weight: bold;
display: block;
}

header nav ul li a:hover{
background: blue;
color: white;
}
nav ul li ul {
position: absolute;
left: 0;
width: 180px;
background: white;
display: none;
}
nav ul li ul li{
width: 100%;
border: 1px solid rgba(0,0,0,.1);

}
nav ul li ul li ul {
left: 180px;
top: 0;
}
nav ul li:hover >ul {
display: initial;
}
main{
margin-top: 5%;
}
footer{
background: url('/static/img/LOGO2.png') round space;
height: 24vw;
width: 100%;
background-color: #6DBFCB;
}

/*field search*/

form {
  position: relative;
  margin: 0 auto;
  display: inline;
}
.d7 ::placeholder{
  color:#fff;
}

.d7 form {
  width: auto;
  margin-right: 30px;
}
.d7 input {
  width: 150px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #fff;
  background: #CCCEFF;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 200px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.d7 button:before{
  content: "\🔍︎";
  font-family: FontAwesome;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 2em;
  color: #fff;
}
.image{
height: 10%;
width: 10%;
display: block;
float: left;
}
@media (max-width: 1600px){
  header nav ul li a{
  font-size: 1.5em;
  font-weight: bold;
  }
  header a .logo{
  width: 250px;
  height: 250px;
  }
  .d7 input{
  width: 120px;
  height: 40px;
  }
  .d7 input:focus{
  width: 150px;
  }
  .d7 button:before{
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 40px;
  font-size: 1.5em;
  color: #fff;
}
footer{
height: 20vw;
}
}
@media (max-width: 1200px) {
  header nav ul li a{
  font-size: 1.4em;
  font-weight: bold;
  }
  header a .logo{
  width: 200px;
  height: 200px;
  }
  .d7 input{
  width: 120px;
  height: 40px;
  }
  .d7 input:focus{
  width: 150px;
  }
  .d7 button:before{
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 40px;
  font-size: 1.5em;
  color: #fff;
}
footer{
height: 30vw;
}
}

@media (max-width: 1000px) {
  header nav ul li a{
  font-size: 2vw;
  font-weight: bold;
  }
  header a .logo{
  width: 175px;
  height: 175px;
  }
  .d7 input{
  width: 100px;
  }
  footer{
height: 35vw;
}
}
@media (max-width: 768px) {
  header nav ul li a{
  font-size: 2.35vw;
  font-weight: bold;
  }
  header a .logo{
  width: 150px;
  height: 150px;
  }
  .d7 input{
  width: 125px;
  height: 35px;
  }
  footer{
height: 45vw;
}
}
@media (max-width: 480px) {
  header nav ul li a{
  font-size: 1vw;
  font-weight: bold;
  }
  header a .logo{
  width: 150px;
  height: 150px;
  }
  .d7 input{
  width: 90px;
  height: 35px;
  }
  footer{
height: 70vw;
}
}

