{% extends 'base.html'%}
{% block content %}
{% load static %}
<div class="adaptive">
<main>
<link rel="stylesheet" href="{% static '/CSS/mainstyle.css'%}">
<h1 class="title">Ваши заказы, {{user.username}}</h1>
{% for delivery in deliverys %}
    <div class="content">
        <div class="border-padding">
            <h1>{{delivery.id_order_products.id_product.name_ru}}</h1>
            {% if delivery.id_order_products.id_product.image %}
                <img class="IMAGE" src="{{delivery.id_order_products.id_product.image.url}}" alt="this is trabl ">
            {% else %}
                <img class="IMAGE" src="{% static '../img/placeholder.png' %}" alt="placeholder">
            {% endif %}
                <div class="content-text">
                    <p>{{delivery.id_order_products.id_product.content}}</p>
                    <p>Количество товара: {{delivery.id_order_products.counter}}</p>
                    <p>Цена заказа: {{delivery.id_order_products.real_price}}</p>
                    <p>Статус доставки: {{delivery.status_delivery}}</p>
                    <p>Дата доставки: {{delivery.delivery_date}}</p>
                    <p>Статус оплаты: <span class="color-payment">{{delivery.id_order.status}} </span></p>
                </div>
            </div>
    </div>
{% endfor %}
</main>
</div>
{% endblock %}