{% extends 'base.html'%}
{% block content %}
{% load static %}

<main>
    <h1 class="title">Информация о компьютерных компонентах</h1>
    <link rel="stylesheet" href="{% static '/CSS/documentationmain.css'%}">
    <form method="POST" action="{% url 'document_documentation' %}">
        {% csrf_token %}
        <div class="documentationmain-image-center">
            <div class="documentationmain-image">
                <button type="submit" class="button"  name="name" value="Центральный_процессор"><img class="Image" src="{% static 'img/cpu.jpg' %}"
                                                                         alt="CPU">
                    <p>Центральный процессор</p>
                </button>
                <button type="submit" class="button"  name="name" value="Видеокарта"><img class="Image"
                                                               src="{% static 'img/videocard.jpg' %}"
                                                               alt="VIDEO CARD">
                    <p>Видеокарта</p>
                </button>
                <button type="submit" class="button"  name="name" value="Оперативная_память"><img class="Image" src="{% static 'img/RAM.png' %}"
                                                                      alt="RAM">
                    <p>Оперативная память</p>
                </button>
                <button type="submit" class="button"  name="name" value="Блок_питания_компьютера"><img class="Image"
                                                                              src="{% static 'img/COMPUTER_POWER_SUPPLY.jpg' %}"
                                                                              alt="COMPUTER POWER SUPPLY">
                    <p>Блок питания компьютера</p>
                </button>
                <button type="submit" class="button"  name="name" value="Твердотельный_накопитель"><img class="Image" src="{% static 'img/SSD.jpg' %}"
                                                                   alt="SSD">
                    <p>SSD</p>
                </button>
                <button type="submit" class="button"  name="name" value="Жёсткий_диск"><img class="Image" src="{% static 'img/HDD.jpg' %}"
                                                                 alt="HDD">
                    <p>HDD</p>
                </button>
                <button name="name" value="Материнская_плата" ><img class="Image"
                                                             src="{% static 'img/MOTHERBOARD.jpg' %}"
                                                             alt="MOTHERBOARD">
                    <p>Материнская плата</p>
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}