{% extends 'base.html'%}
{% block content %}
{% load static %}
<main>
    <link rel="stylesheet" href="{% static '/CSS/mainstyle.css'%}">
    <h1 class="title"><a href="../products/Laptop"> Ноутбуки</a></h1>
        {% for laptop in laptops %}
            {% if forloop.counter < 4 %}
                            <div class="content">
                                    <div class="border-padding">
                                        <h1>{{laptop.name_ru}}</h1>
                                        {% if laptop.image %}
                                            <img class="IMAGE" src="{{laptop.image.url}}" alt="this is trabl ">
                                        {% else %}
                                            <img class="IMAGE" src="{% static '../img/placeholder.png' %}" alt="placeholder">
                                        {% endif %}
                                        <p class="content-text">{{laptop.content}}</p>
                                        {% for count in counts %}
                                            {% if count.id_product_id == laptop.id %}
                                                <p class="count"> В наличии: {{count.count_product}} штук </p>
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            {% if user.is_authenticated %}
                                                <form class="buy" method="POST" action="{% url 'basket_add_product' %}">
                                                    {% csrf_token %}
                                                    <p class="price">Цена:{{laptop.price}}</p>
                                                    <button class="button-buy" name="product_id" value={{laptop.id}}>В корзину</button>
                                                </form>
                                            {% else %}
                                                 <form class="buy" method="POST" action="{% url 'users:login' %}">
                                                    {% csrf_token %}
                                                    <p class="price">Цена:{{laptop.price}}</p>
                                                    <button class="button-buy">В корзину</button>
                                                </form>
                                            {% endif %}


                                        </div>
                                    </div>
                            </div>
            {% endif %}
        {% endfor %}

    <h1 class="title"><a href="../products/pc">Компьютеры</a></h1>
        {% for pc in pcs %}
            {% if forloop.counter < 4 %}
                            <div class="content">
                                    <div class="border-padding">
                                        <h1>{{pc.name_ru}}</h1>
                                        {% if pc.image %}
                                            <img class="IMAGE" src="{{pc.image.url}}" alt="this is trabl ">
                                        {% else %}
                                            <img class="IMAGE" src="{% static 'img/placeholder.png' %}" alt="this is trabl ">
                                        {% endif %}
                                        <p class="content-text"><br>{{pc.content}}</p>
                                        {% for count in counts %}
                                            {% if count.id_product_id == pc.id %}
                                                <p class="count"> В наличии: {{count.count_product}} штук </p>
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            <form class="buy" method="POST" action="{% url 'basket_add_product' %}">
                                                {% csrf_token %}
                                                <p class="price">Цена:{{pc.price}}</p>
                                                <button class="button-buy" name="product_id" value={{pc.id}}>В корзину</button>
                                            </form>
                                        </div>
                                    </div>
                            </div>
            {% endif %}
        {% endfor %}
    <h1 class="title"><a href="../products/components"> Компьютерные компоненты </a></h1>
        {% for component in components %}
            {% if forloop.counter < 4 %}
                            <div class="content">
                                    <div class="border-padding">
                                        <h1>{{component.name_ru}}</h1>
                                        {% if component.image %}
                                            <img class="IMAGE" src="{{component.image.url}}" alt="this is trabl ">
                                        {% else %}
                                            <img class="IMAGE" src="{% static 'img/placeholder.png' %}" alt="this is trabl ">
                                        {% endif %}
                                        <p class="content-text">{{component.content}}</p>
                                        {% for count in counts %}
                                            {% if count.id_product_id == component.id %}
                                                <p class="count"> В наличии: {{count.count_product}} штук </p>
                                            {% endif %}
                                        {% endfor %}
                                        <div>
                                            <form class="buy" method="POST" action="{% url 'basket_add_product' %}">
                                                {% csrf_token %}
                                                <p class="price">Цена:{{component.price}}</p>
                                                <button class="button-buy" name="product_id" value={{component.id}}>В корзину</button>
                                            </form>
                                        </div>
                                    </div>
                            </div>
            {% endif %}
        {% endfor %}
</main>
{% endblock %}
